body {
  font-family: "Lexend", sans-serif;
  min-height: 100dvh;
}

.material-symbols-outlined.fill {
  font-variation-settings: "FILL" 1;
}

@keyframes bounce-subtle {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-subtle {
  animation: bounce-subtle 2s infinite;
}

/* View Transitions (Android-like Slide) */
::view-transition-old(root) {
  animation: 90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}

::view-transition-new(root) {
  animation: 210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
    300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(30px);
  }
}

@keyframes slide-to-left {
  to {
    transform: translateX(-30px);
  }
}

/* Styles pour l'élément de navigation actif (Material Design) */
.active-nav-item {
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
}

.active-nav-item::after {
  content: "";
  display: block;
  width: 24px; /* Largeur de l'indicateur */
  height: 2px; /* Hauteur de l'indicateur */
  background-color: rgb(
    43 108 238
  ); /* Couleur primaire (Tailwind's blue-600) */
  border-radius: 1px;
  margin-top: 4px; /* Espace entre le texte et l'indicateur */
  position: absolute; /* Positionnement absolu par rapport à l'élément parent */
  bottom: 0; /* Aligner en bas */
  left: 50%; /* Centrer horizontalement */
  transform: translateX(-50%); /* Ajustement pour un centrage parfait */
}
